{% extends 'comun/base.html' %}
{% block title %}Editar Jugador{% endblock %}

{% block content %}
<!-- VISTA: EDITAR INFORMACIÓN DEL JUGADOR -->
<div class="box mt-6">
  <!-- Título de la sección -->
  <h2 class="title is-4">Editar Información del Jugador</h2>
  <!-- Formulario de edición -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %} 
    {{ form.as_p }}    
    <!-- Botón para enviar la actualización -->
    <button class="button is-warning is-rounded mt-4">Actualizar</button>
  </form>
  <!-- Enlace para volver al listado general de jugadores -->
  <a href="{% url 'listar_jugadores' %}" class="button is-light mt-4">
    ← Volver al listado
  </a>
</div>
{% endblock %}
