{% extends "comun/base.html" %}

{% block title %}Listado de Testimonios{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title is-3 has-text-centered mb-5">Testimonios</h1>

    <div class="mb-5 has-text-right">
      <a href="{% url 'registrar_testimonio' %}" class="button is-primary">
        <span class="icon"><svg class="uide-icon" aria-hidden="true"><use href="#i-mas"></use></svg></span>
        <span>Agregar Testimonio</span>
      </a>
    </div>

    {% if testimonios %}
      <div class="columns is-multiline">
        {% for testimonio in testimonios %}
          <div class="column is-4">
            <div class="card">
              <div class="card-image has-text-centered pt-4">
                {% if testimonio.foto %}
                  <figure class="image is-128x128 is-inline-block uide-avatar">
                    <img src="{{ testimonio.foto.url }}" alt="{{ testimonio.autor }}">
                  </figure>
                {% else %}
                  <figure class="image is-128x128 is-inline-block uide-avatar">
                    <span class="icon is-large has-text-grey-light uide-avatar__inicial">
                      <svg class="uide-icon" aria-hidden="true"><use href="#i-usuario"></use></svg>
                    </span>
                  </figure>
                {% endif %}
              </div>
              <div class="card-content">
                <p class="title is-5 has-text-centered">{{ testimonio.autor }}</p>
                <div class="content uide-testimonio__texto">
                  {{ testimonio.contenido|truncatewords:30 }}
                </div>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item has-text-grey is-size-7">
                  {{ testimonio.fecha|date:"d/m/Y H:i" }}
                </p>
                <p class="card-footer-item">
                  <a href="{% url 'editar_testimonio' testimonio.id %}" class="button is-small is-warning mr-2" title="Editar">
                    <span class="icon is-small"><svg class="uide-icon" aria-hidden="true"><use href="#i-editar"></use></svg></span>
                  </a>
                  <a href="{% url 'eliminar_testimonio' testimonio.id %}" class="button is-small is-danger" title="Eliminar">
                    <span class="icon is-small"><svg class="uide-icon" aria-hidden="true"><use href="#i-eliminar"></use></svg></span>
                  </a>
                </p>
              </footer>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p class="has-text-centered has-text-grey">No hay testimonios registrados.</p>
    {% endif %}
  </div>
</section>
{% endblock %}
