{% extends 'estadisticas/_base_estadisticas.html' %}

{% comment %}
  Solo declara lo que cambia respecto a _base_estadisticas.html: el
  nombre del deporte, las tres URLs y las columnas propias.
{% endcomment %}

{% block deporte %}Baloncesto{% endblock %}
{% block deporte_titulo %}Baloncesto{% endblock %}

{% block url_filtro %}{% url 'estadisticas_basquet' %}{% endblock %}
{% block url_pdf %}{% url 'export_estadisticas_basquet_pdf' %}{% endblock %}
{% block url_excel %}{% url 'export_estadisticas_basquet_excel' %}{% endblock %}

{% block columnas %}
  <th>Partidos jugados</th>
  <th>Canastas</th>
  <th>Rebotes</th>
  <th>Asistencias</th>
{% endblock %}

{% block celdas %}
  <td>{{ stat.partidos_jugados }}</td>
  <td>{{ stat.canastas }}</td>
  <td>{{ stat.rebotes }}</td>
  <td>{{ stat.asistencias }}</td>
{% endblock %}
