{% extends 'estadisticas/_base_estadisticas.html' %}

{% comment %}
  Solo declara lo que cambia respecto a _base_estadisticas.html: el
  nombre del deporte, las tres URLs y las columnas propias.
{% endcomment %}

{% block deporte %}Ping Pong{% endblock %}
{% block deporte_titulo %}Ping Pong{% endblock %}

{% block url_filtro %}{% url 'estadisticas_pingpong' %}{% endblock %}
{% block url_pdf %}{% url 'export_estadisticas_pingpong_pdf' %}{% endblock %}
{% block url_excel %}{% url 'export_estadisticas_pingpong_excel' %}{% endblock %}

{% block columnas %}
  <th>Partidos jugados</th>
  <th>Ganados</th>
  <th>Perdidos</th>
{% endblock %}

{% block celdas %}
  <td>{{ stat.partidos_jugados }}</td>
  <td>{{ stat.partidos_ganados }}</td>
  <td>{{ stat.partidos_perdidos }}</td>
{% endblock %}
