{% extends 'estadisticas/_base_estadisticas.html' %}

{% comment %}
  Solo declara lo que cambia respecto a _base_estadisticas.html: el
  nombre del deporte, las tres URLs y las columnas propias.
{% endcomment %}

{% block deporte %}Ecuaboly{% endblock %}
{% block deporte_titulo %}Ecuaboly{% endblock %}

{% block url_filtro %}{% url 'estadisticas_ecuaboly' %}{% endblock %}
{% block url_pdf %}{% url 'export_estadisticas_ecuaboly_pdf' %}{% endblock %}
{% block url_excel %}{% url 'export_estadisticas_ecuaboly_excel' %}{% endblock %}

{% block columnas %}
  <th>Partidos jugados</th>
  <th>Sets ganados</th>
  <th>Sets perdidos</th>
{% endblock %}

{% block celdas %}
  <td>{{ stat.partidos_jugados }}</td>
  <td>{{ stat.sets_ganados }}</td>
  <td>{{ stat.sets_perdidos }}</td>
{% endblock %}
