{% extends 'estadisticas/_base_estadisticas.html' %}

{% comment %}
  Solo declara lo que cambia respecto a _base_estadisticas.html: el
  nombre del deporte, las tres URLs y las columnas propias.

  La primera columna usa partidos_jugados: la plantilla anterior
  pedia partidas_jugadas, que este modelo no tiene, asi que la
  columna salia siempre vacia.
{% endcomment %}

{% block deporte %}Videojuegos{% endblock %}
{% block deporte_titulo %}Videojuegos{% endblock %}

{% block url_filtro %}{% url 'estadisticas_videojuegos' %}{% endblock %}
{% block url_pdf %}{% url 'export_estadisticas_videojuegos_pdf' %}{% endblock %}
{% block url_excel %}{% url 'export_estadisticas_videojuegos_excel' %}{% endblock %}

{% block columnas %}
  <th>Partidas jugadas</th>
  <th>Ganadas</th>
  <th>Perdidas</th>
{% endblock %}

{% block celdas %}
  <td>{{ stat.partidos_jugados }}</td>
  <td>{{ stat.partidas_ganadas }}</td>
  <td>{{ stat.partidas_perdidas }}</td>
{% endblock %}
