{% extends 'estadisticas/_base_estadisticas.html' %}

{% comment %}
  Solo declara lo que cambia respecto a _base_estadisticas.html: el
  nombre del deporte, las tres URLs y las columnas propias.
{% endcomment %}

{% block deporte %}Fútbol{% endblock %}
{% block deporte_titulo %}Fútbol{% endblock %}

{% block url_filtro %}{% url 'estadisticas_futbol' %}{% endblock %}
{% block url_pdf %}{% url 'exportar_estadisticas_pdf' %}{% endblock %}
{% block url_excel %}{% url 'exportar_estadisticas_excel' %}{% endblock %}

{% block columnas %}
  <th>Partidos jugados</th>
  <th>Goles</th>
  <th>Amarillas</th>
  <th>Rojas</th>
{% endblock %}

{% block celdas %}
  <td>{{ stat.partidos_jugados }}</td>
  <td>{{ stat.goles }}</td>
  <td>{{ stat.tarjetas_amarillas }}</td>
  <td>{{ stat.tarjetas_rojas }}</td>
{% endblock %}
