{% extends 'comun/base.html' %}

{% block title %}Mis Partidos Asignados{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="title">Mis Partidos Asignados</h1>
    <hr>


    {% if partidos %}
        <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Campeonato</th>
                        <th>Fecha y Hora</th>
                        <th>Lugar</th>
                        <th>Equipos</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in partidos %}
                        <tr>
                            <td>
                                <a href="{% url 'ver_tabla_posiciones_arbitro' partido.campeonato.id %}">
                                    {{ partido.campeonato.nombre }}
                                </a>
                            </td>
                            <td>{{ partido.fecha }} - {{ partido.hora }}</td>
                            <td>{{ partido.lugar }}</td>
                            <td>{{ partido.equipo_local }} vs {{ partido.equipo_visitante }}</td>
                            <td><span class="tag is-info">{{ partido.get_estado_display }}</span></td>
                            <td>
                                <a href="{% url 'acta_partido_arbitro' pk=partido.id %}" class="button is-small is-info">Cargar/Editar Acta</a>
                                {% if partido.estado == 'PROGRAMADO' or partido.estado == 'EN_CURSO' %}
                                    <a href="{% url 'registrar_resultado_partido' partido.id %}" class="button is-small is-primary">Registrar Resultado</a>
                                    <a href="{% url 'disciplinario_partido' partido.id %}" class="button is-small is-warning">Registrar Faltas</a>
                                {% else %}
                                    <span class="tag is-success">Finalizado</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="notification is-info">
            No tienes partidos asignados por el momento.
        </div>
    {% endif %}
</div>
{% endblock %}
