{% extends 'comun/base.html' %}

{% block title %}Registro de Usuario - Campeonatos UIDE{% endblock %}

{% block content %}
  <div class="form-contenedor">
    <h2 class="form-titulo">Registro de Usuario</h2>

    <form method="POST" class="formulario-registro">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn-formulario">Registrarse</button>
    </form>

    <p class="form-enlace">
      ¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a>.
    </p>
  </div>
{% endblock %}
