{% extends 'comun/base.html' %}
{% block title %}Eliminar Usuario{% endblock %}
{% block content %}
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title has-text-danger">¿Estás seguro de eliminar al usuario <strong>{{ usuario.username }}</strong>?</h1>
    <form method="POST">{% csrf_token %}
      <button class="button is-danger">Sí, eliminar</button>
      <a href="{% url 'listar_usuarios' %}" class="button is-light">Cancelar</a>
    </form>
  </div>
</section>
{% endblock %}
