{% extends 'comun/base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <!-- Notificación con estilo de éxito y texto centrado -->
    <div class="notification is-success has-text-centered">
      <!-- Mensaje que indica que la contraseña fue cambiada correctamente -->
      ✅ Tu contraseña ha sido cambiada correctamente. 
      <!-- Enlace para que el usuario pueda ir a la página de inicio de sesión -->
      <a href="{% url 'login' %}">Iniciar sesión</a>
    </div>
  </div>
</section>

{% endblock %}
