{% extends 'comun/base.html' %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="box" style="max-width: 500px; margin: auto; border-radius: 20px;">
      <h2 class="title is-4 has-text-centered">Nueva contraseña</h2>
      <form method="POST">
        {% csrf_token %}
        {{ form.new_password1.label_tag }} {{ form.new_password1|add_class:"input is-rounded" }}
        {{ form.new_password2.label_tag }} {{ form.new_password2|add_class:"input is-rounded" }}

        <div class="field mt-4">
          <button class="button is-link is-fullwidth is-rounded">Cambiar contraseña</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
