{% extends 'comun/base.html' %}
{% load static %}
{% load widget_tweaks %}  {# ESTA LÍNEA ES LA QUE FALTABA #}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<div class="container">
  <div class="box" style="max-width: 500px; margin: auto; border-radius: 20px;">
    <h2 class="title has-text-centered is-4">¿Olvidaste tu contraseña?</h2>
    <p class="has-text-centered mb-4">Ingresa tu correo y te enviaremos un enlace para restablecerla.</p>

    <form method="POST">
      {% csrf_token %}
      <div class="field">
        {{ form.email.label_tag }}
        <div class="control">
          {{ form.email|add_class:"input is-rounded" }}
        </div>
      </div>

      <div class="field">
        <button class="button is-warning is-fullwidth is-rounded">Enviar enlace</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
