{% extends 'comun/base.html' %}
{% load static %}

{% block title %}Listado de Códigos QR{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-3 has-text-centered">Códigos QR Registrados</h1>

      <form method="get" class="mb-5">
        <div class="field has-addons">
          <div class="control is-expanded">
            <label class="uide-sr-only" for="buscar-qr">Buscar códigos QR</label>
            <input type="search" id="buscar-qr" name="q" class="input"
                   placeholder="Buscar por banco o descripción..." value="{{ request.GET.q }}">
          </div>
          <div class="control">
            <button class="button is-info" type="submit">Buscar</button>
          </div>
        </div>
      </form>

      {% if messages %}
        {% for message in messages %}
          <div class="notification is-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <div class="mb-4">
        <a href="{% url 'registrar_codigo_qr' %}" class="button is-primary">
          <svg class="uide-icon" aria-hidden="true"><use href="#i-mas"></use></svg> Nuevo Código QR
        </a>
      </div>

      {% if codigos_qr %}
        <table class="table is-fullwidth is-striped is-hoverable">
          <thead>
            <tr>
              <th>Banco</th>
              <th>Imagen</th>
              <th>Descripción</th>
              <th class="has-text-centered">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for codigo in codigos_qr %}
              <tr>
                <td>{{ codigo.banco }}</td>
               <td>
                  {% if codigo.imagen_qr %}
                    <figure class="image is-64x64 is-square">
                      <img src="{{ codigo.imagen_qr.url }}" alt="QR" style="object-fit: contain; width: 100%; height: 100%;">
                    </figure>
                  {% else %}
                    <span class="has-text-grey-light">No disponible</span>
                  {% endif %}
                </td>
                <td>{{ codigo.descripcion|default:"Sin descripción" }}</td>
                <td class="has-text-centered">
                  <a href="{% url 'editar_codigo_qr' codigo.pk %}" class="button is-small is-warning">Editar</a>
                  <a href="{% url 'eliminar_codigo_qr' codigo.pk %}" class="button is-small is-danger">Eliminar</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="notification is-info is-light has-text-centered">No hay códigos QR registrados aún.</p>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
