{% extends 'base.html' %}

{% block title %}Crear Campeonato - Campeonatos UIDE{% endblock %}

{% block content %}
  <div class="form-contenedor">
    <h2 class="form-titulo">Crear nuevo campeonato</h2>

    <form method="POST" enctype="multipart/form-data" class="formulario-registro">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-formulario">Guardar</button>
    </form>

    <a href="{% url 'listar_campeonatos' %}" class="btn-volver">← Volver al listado</a>
  </div>
{% endblock %}
