{% extends 'comun/base.html' %}
{% block title %}Tabla de Posiciones - {{ campeonato.nombre }}{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-2 has-text-centered mb-5">Tabla de Posiciones: {{ campeonato.nombre }}</h1>

      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <tr>
            <th>Equipo</th>
            <th>Puntos</th>
            <th>Goles a Favor</th>
            <th>Goles en Contra</th>
            <th>Diferencia</th>
          </tr>
        </thead>
        <tbody>
          {% for equipo in equipos %}
          <tr>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.puntos }}</td>
            <td>{{ equipo.goles_favor }}</td>
            <td>{{ equipo.goles_contra }}</td>
            <td>{{ equipo.goles_favor|add:"-"|add:equipo.goles_contra }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">
              <div class="notification is-info is-light has-text-centered">
                No hay equipos registrados.
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
